@use "@/styles/mixins";

.services__title {
    @include mixins.media-down(mixins.$breakpoint--xl) {
        margin-bottom: 30px;
    }
    @include mixins.media-up(mixins.$breakpoint--xl) {
        margin-bottom: 60px;
    }
}

.services__list {
    display: flex;
    flex-wrap: wrap;

    @include mixins.media-down(mixins.$breakpoint--sm) {
        column-gap: 8px;

        row-gap: 10px;
    }
    @include mixins.media-between(mixins.$breakpoint--sm, mixins.$breakpoint--xl) {
        column-gap: 12px;

        row-gap: 10px;
    }
    @include mixins.media-up(mixins.$breakpoint--xl) {
        gap: 12px;
    }
}

.services__item {
    flex-grow: 1;
    flex-shrink: 0;

    @include mixins.media-down(mixins.$breakpoint--sm) {
        flex-basis: 162px;
    }
    @include mixins.media-up(mixins.$breakpoint--sm) {
        flex-basis: 216px;
    }
}
