@import "@/styles/mixins";

.services__title {
    @include media-down($breakpoint--xl) {
        margin-bottom: 30px;
    }
    @include media-up($breakpoint--xl) {
        margin-bottom: 60px;
    }
}

.services__list {
    display: flex;
    flex-wrap: wrap;

    @include media-down($breakpoint--md) {
        column-gap: 8px;
        row-gap: 10px;
    }
    @include media-between($breakpoint--md, $breakpoint--xl) {
        column-gap: 12px;
        row-gap: 10px;
    }
    @include media-up($breakpoint--xl) {
        gap: 12px;
    }
}

.services__item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 216px;
}
