.technologies__title {
    margin-bottom: 60px;
}

fieldset.technologies__tabs {
    margin-bottom: 24px;
}

.technologies__list {
    --grid-columns-count: 8;
    --grid-columns-width: 8.06%;

    display: grid;
    justify-content: space-evenly;
    padding: 2px;
    padding-bottom: calc((var(--grid-columns-width) * 1.7 / 2) + 4px);

    grid-template-columns: repeat(var(--grid-columns-count), var(--grid-columns-width));
}

.technologies__item {
    position: relative;

    display: block;
    margin-bottom: -2px;

    &:nth-child(-n + 6):nth-child(even),
    &:nth-child(7),
    &:nth-child(n + 7):nth-child(-n + 17):nth-child(even),
    &:nth-child(20) {
        transform: translateY(50%);
    }

    &:first-child {
        grid-column: var(--grid-columns-count);
        grid-row: -1;
    }

    &:nth-child(3) {
        article {
            border-top-color: transparent;
        }
    }

    &:nth-child(5) {
        article::before {
            border-top-color: transparent;
        }
    }

    &:nth-child(8),
    &:nth-child(16),
    &:nth-child(18) {
        article::after {
            border-bottom-color: transparent;
        }
    }

    &:nth-child(20),
    &:nth-child(21) {
        article::before {
            border-bottom-color: transparent;
        }
    }
}

.technologies__empty {
    &[data-number="1"] {
        grid-column: 6;
        grid-row: -1;
    }

    &[data-number="2"] {
        grid-column: 3;
        grid-row: 3;
    }

    &[data-number="3"] {
        grid-column: 5;
        grid-row: 3;
    }
}
