.technologies__title {
    margin-bottom: 60px;
}

fieldset.technologies__tabs {
    margin-bottom: 24px;
}

.technologies__list {
    --grid-columns-count: 8;
    --grid-columns-width: 8.06%;

    padding: 2px;
    padding-bottom: calc((var(--grid-columns-width) * 1.7333 / 2) + 2px);

    display: grid;
    justify-content: space-evenly;

    grid-template-columns: repeat(var(--grid-columns-count), var(--grid-columns-width));
}

.technologies__item {
    position: relative;

    display: block;

    margin-bottom: -2px;

    &:nth-child(-n + 8):nth-child(even),
    &:nth-child(n + 9):nth-child(odd) {
        transform: translateY(50%);
    }

    &:first-child {
        grid-column: var(--grid-columns-count);
        grid-row: -1;
    }

    &:nth-child(5) {
        article::before {
            background-image: linear-gradient(
                180deg,
                transparent 0,
                transparent calc(100% - var(--border-width)),
                var(--border-color) calc(100% - var(--border-width)),
                var(--border-color) 100%
            );
        }
    }
}
