@use "@/styles/mixins";

.slogan__banner {
    position: relative;

    overflow: hidden;

    background-color: var(--color-bg--secondary);
    border-radius: 10px;

    @include mixins.media-down(mixins.$breakpoint--md) {
        padding: 24px 16px;
        padding-bottom: 246px;
    }
    @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--xl) {
        padding: 30px 20px;
    }
    @include mixins.media-up(mixins.$breakpoint--xl) {
        padding: 120px 40px;
    }

    &::before {
        content: "";
        position: absolute;

        width: var(--size);
        height: var(--size);

        background-image: var(--color-illustration--gradient);
        border-radius: 50%;
        opacity: 0.5;
        filter: blur(var(--blur));

        @include mixins.media-down(mixins.$breakpoint--xl) {
            --blur: 77px;
        }
        @include mixins.media-up(mixins.$breakpoint--xl) {
            --blur: 144px;
        }
        @include mixins.media-down(mixins.$breakpoint--md) {
            --size: 291px;
        }
        @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--xl) {
            --size: 316px;
        }
        @include mixins.media-up(mixins.$breakpoint--xl) {
            --size: 589px;
        }
        @include mixins.media-down(mixins.$breakpoint--md) {
            bottom: -61px;
            left: calc(50% - 113px);
        }
        @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--xl) {
            right: -14px;
            bottom: -68px;
        }
        @include mixins.media-up(mixins.$breakpoint--xl) {
            top: 15px;
            right: -27px;
        }
    }
}

.slogan__content {
    @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--xxl) {
        max-width: 358px;
    }
    @include mixins.media-up(mixins.$breakpoint--xxl) {
        max-width: 745px;
    }
}

.slogan__title {
    font-weight: 700;
    // font-weight: 550;

    @include mixins.media-down(mixins.$breakpoint--md) {
        margin-bottom: 16px;

        font-size: 24px;
        line-height: 30px;
    }
    @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--xxl) {
        margin-bottom: 20px;

        font-size: 28px;
        line-height: 30px;
    }
    @include mixins.media-up(mixins.$breakpoint--xxl) {
        margin-bottom: 20px;

        font-size: 40px;
        line-height: 50px;
    }

    em {
        font-style: normal;
    }
}

.slogan__description {
    margin: 0;

    @include mixins.media-down(mixins.$breakpoint--md) {
        font-size: 14px;
    }
}

.slogan__image {
    position: absolute;
    bottom: 0;

    @include mixins.media-down(mixins.$breakpoint--xl) {
        height: auto;
    }
    @include mixins.media-down(mixins.$breakpoint--md) {
        left: 50%;

        width: 335px;

        transform: translateX(-50%);
    }
    @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--lg) {
        right: -8px;

        width: 347px;
    }
    @include mixins.media-between(mixins.$breakpoint--lg, mixins.$breakpoint--xl) {
        right: -8px;

        width: 400px;
    }
    @include mixins.media-up(mixins.$breakpoint--xl) {
        right: -15px;
    }
}
