@media (min-width: 1200px) {
    .scrollButton {
        position: fixed;
        right: 40px;
        bottom: 40px;
        z-index: 100;

        display: inline-block;
        padding: 19px;
        overflow: hidden;

        vertical-align: middle;
        white-space: nowrap;
        text-indent: 500%;

        background-color: #ffffff1a;

        backdrop-filter: blur(10px);
        border: none;
        border-radius: 50%;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            border-radius: 50%;
        }

        svg {
            stroke: var(--color-text--primary);
            display: block;
        }
    }
}
