@import "@/styles/mixins";

.footer {
    @include media-down($tablet-breakpoint) {
        padding-bottom: 30px;
    }
    @include media-up($tablet-breakpoint) {
        padding-bottom: 60px;
    }
}

.footer__body {
    @include media-down($mobile-breakpoint) {
        margin-bottom: 16px;
    }
    @include media-between($mobile-breakpoint, $tablet-breakpoint) {
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;

        column-gap: 40px;
    }
    @include media-up($tablet-breakpoint) {
        display: flex;
        align-items: flex-end;
        margin-bottom: 60px;

        column-gap: 60px;
    }
}

.footer__content {
    @include media-down($mobile-breakpoint) {
        margin-bottom: 16px;
    }
    @include media-up($mobile-breakpoint) {
        flex-grow: 1;
    }
}

.footer__logo {
    display: block;
    margin-bottom: 10px;
}

.footer__slogan {
    margin: 0;

    font-weight: 700;
    // font-weight: 550;
    color: var(--color-text--primary);

    em {
        font-style: normal;
    }

    @include media-down($mobile-breakpoint) {
        font-size: 24px;
        line-height: 60px;
    }
    @include media-between($mobile-breakpoint, $tablet-breakpoint) {
        font-size: 40px;
        line-height: 80px;
    }
    @include media-up($tablet-breakpoint) {
        font-size: 62px;
        line-height: 80px;
    }
}

.footer__contacts {
    @include media-down($mobile-breakpoint) {
        font-size: 20px;
    }
    @include media-between($mobile-breakpoint, $tablet-breakpoint) {
        flex-basis: 260px;

        font-size: 20px;
    }
    @include media-up($tablet-breakpoint) {
        flex-basis: 439px;

        font-size: 24px;
    }
}

.footer__info {
    font-size: 14px;
    line-height: 21px;

    border-top: 1px solid var(--color-border);

    @include media-down($mobile-breakpoint) {
        padding-top: 16px;
    }
    @include media-up($mobile-breakpoint) {
        display: flex;
        align-items: center;
        padding-top: 32px;

        column-gap: 32px;
    }
}

.footer__copyright {
    @include media-down($mobile-breakpoint) {
        margin-bottom: 16px;
    }
    @include media-up($mobile-breakpoint) {
        flex-grow: 1;
    }
}
