@use "@/styles/mixins";

@keyframes slide {
  0% {
    transform: translate(-50%, 0) scale(0.8);
  }
  100% {
    transform: translate(-50%, -96%) scale(1);
  }
}

@keyframes slideTextMobile {
  0% {
    transform: translate(-50%, 40%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 20%);
    opacity: 1;
  }
}

@keyframes slideTextDesktop {
  0% {
    transform: translate(-50%, 250%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 400%);
    opacity: 1;
  }
}

.hero {
  position: relative;

  height: 100vh;
  padding-right: 8px;
  overflow: hidden;
  background-image:
  url("/img/hero/layer_15.svg"),
  url("/img/hero/layer_16.svg"),
  url("/img/hero/layer_12.svg"),
  url("/img/hero/layer_11.svg"),
  url("/img/hero/layer_9.svg"),
  url("/img/hero/layer_10.svg"),
  url("/img/hero/layer_7.svg"),
  url("/img/hero/layer_6.svg"),
  url("/img/hero/layer_4.svg"),
  url("/img/hero/layer_3.svg"),
  url("/img/hero/layer_2.svg"),
  linear-gradient(177.81deg, #131313 27.14%, #f28660 91.53%);
  background-position:
  0 100%, // 15 — селфи
  0 100%, // 16 — облако
  0 100%, // 12 — кремль + город
  100% 100%, // 11 — серп и молот
  70% 100%, // 9 — ракетная установка
  30% 100%, // 10 — останкино
  50% 40%, // 7 — звезды
  50% 10%, // 6 — звезды
  50% 3%, // 4 — полоса верхняя
  50% 48%, // 3 — полоса нижняя
  50% 28%, // 2 — полоса средняя
  50% 50%;
  background-repeat:
  no-repeat, // 15 — селфи
  no-repeat, // 16 — облако
  no-repeat, // 12 — кремль + город
  no-repeat, // 11 — серп и молот
  no-repeat, // 9 — ракетная установка
  no-repeat, // 10 — останкино
  repeat, // 7 — звезды
  repeat-x, // 6 — звезды
  no-repeat, // 4 — полоса верхняя
  no-repeat, // 3 — полоса нижняя
  no-repeat, // 2 — полоса средняя
  no-repeat;
  background-size:
  20%, // 15 — селфи
  45%, // 16 — облако
  100%, // 12 — кремль + город
  100%, // 11 — серп и молот
  100%, // 9 — ракетная установка
  100%, // 10 — останкино
  80%, // 7 — звезды
  25%,  // 6 — звезды
  100% 30%, // 4 — полоса верхняя
  100% 30%, // 3 — полоса нижняя
  100%, // 2 — полоса средняя
  100%;
  background-attachment: fixed;
}

.hero__layer {
  position: absolute;
}

.hero__img.rocket {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);

  width: auto;
  height: 200%;
}

.slide {
  animation: slide 3.7s cubic-bezier(0.62, 0.04, 0.73, 0.37) forwards 0.2s;
}

.hero__moto {
  position: absolute;
  top: 50%;
  left: 50%;

  color: #0e0e0e;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  text-align: center;

  opacity: 0;
  transform: translate(-50%, -50%);
}

.slideText {
  animation: slideTextMobile 1.2s ease forwards 4s;
}

.hero__img.rocket,
.hero__layer,
.hero__moto {
  will-change: transform;
}

.hero__img.overlay,
.hero__img.logo,
.hero__img.spaceshipLeft,
.hero__img.spaceshipRight,
.hero__img.rocketSmall {
  position: absolute;

  height: auto;
  object-fit: cover;
}

.hero__img.overlay {
  bottom: -1px;
  left: 50%;
  z-index: 2;

  width: 100%;

  transform: translate(-50%, 0);
}

.hero__img.logo {
  top: 30%;
  left: 50%;

  width: 70%;

  transform: translate(-50%, -50%);
}

.hero__img.spaceshipLeft {
  bottom: 7%;
  left: 52%;

  width: 10%;

  transform: translate(-50%, 50%);
}

.hero__img.spaceshipRight {
  bottom: 5%;
  left: 42%;

  width: 12%;

  transform: translate(-50%, 50%);
}

.hero__img.rocketSmall {
  bottom: 7%;
  left: 60.75%;

  width: 3.5%;

  transform: translate(-50%, 50%);
}

@include mixins.media-up(mixins.$breakpoint--sm) {
  .hero__img.logo {
    width: 50%;
  }

  .hero__img.spaceshipLeft {
    bottom: 10%;
  }

  .hero__img.spaceshipRight {
    bottom: 7%;
  }

  .hero__img.rocketSmall {
    bottom: 15%;
  }
}

@include mixins.media-up(mixins.$breakpoint--md) {
  .hero__moto {
    top: 60%;
  }

  .hero__img.logo {
    width: 30%;
  }
}

@include mixins.media-up(mixins.$breakpoint--lg) {
  .hero__moto {
    font-size: 40px;
    line-height: 50px;
  }

  .hero__img.spaceshipLeft {
    bottom: 12%;
  }

  .hero__img.spaceshipRight {
    bottom: 9%;
  }

  .hero__img.rocketSmall {
    bottom: 24%;
  }
}

@include mixins.media-up(mixins.$breakpoint--xl) {
  .hero__moto {
    font-size: 40px;
    line-height: 50px;
  }

  .hero__img.spaceshipLeft {
    bottom: 15%;
  }

  .hero__img.spaceshipRight {
    bottom: 12%;
  }

  .hero__img.rocketSmall {
    bottom: 30%;
  }
}

@include mixins.media-up(mixins.$breakpoint--xxl) {
  .hero__moto {
    top: 30%;
  }

  .hero__moto {
    font-size: 40px;
    line-height: 50px;
  }

  .slideText {
    animation: slideTextDesktop 1.2s ease forwards 4.5s;
  }
}
