.footerContacts {
    color: var(--color-text--primary);
}

.footerContacts__item {
    display: flex;
    align-items: center;

    column-gap: 16px;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.footerContacts__icon {
    display: block;

    background-color: var(--color-bg--secondary);
    border-radius: 50%;

    stroke: currentColor;
}

.footerContacts__link {
    font-size: 24px;
    line-height: 40px;
    color: inherit;
    text-decoration: none;
}
