@use "@/styles/mixins";

.clients__list {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

.clients__item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 256px;

    @include mixins.media-down(mixins.$breakpoint--md) {
        flex-basis: 40%;
    }
    @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--xl) {
        flex-basis: 20%;
    }
    @include mixins.media-up(mixins.$breakpoint--xl) {
        flex-basis: 256px;
    }
}
