@import "@/styles/mixins";

.clients__list {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

.clients__item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 256px;

    @include media-down($mobile-breakpoint) {
        flex-basis: 40%;
    }
    @include media-between($mobile-breakpoint, $tablet-breakpoint) {
        flex-basis: 20%;
    }
    @include media-up($tablet-breakpoint) {
        flex-basis: 256px;
    }
}
