@use "@/styles/mixins";

.platforms__banner {
    position: relative;

    overflow: hidden;

    background-color: var(--color-bg--secondary);
    border-radius: 10px;

    @include mixins.media-down(mixins.$breakpoint--md) {
        padding: 24px 16px;
        padding-bottom: 245px;
    }
    @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--xl) {
        padding: 30px 20px;
    }
    @include mixins.media-up(mixins.$breakpoint--xl) {
        padding: 60px 40px;
    }

    &::before {
        content: "";
        position: absolute;

        width: var(--size);
        height: var(--size);

        background-color: var(--color-bg--tertiary);
        border-radius: 50%;
        opacity: 0.8;
        filter: blur(var(--blur));

        @include mixins.media-down(mixins.$breakpoint--xl) {
            --blur: 77px;
        }
        @include mixins.media-up(mixins.$breakpoint--xl) {
            --blur: 144px;
        }
        @include mixins.media-down(mixins.$breakpoint--md) {
            --size: 286px;
        }
        @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--xl) {
            --size: 422px;
        }
        @include mixins.media-up(mixins.$breakpoint--xl) {
            --size: 789px;
        }
        @include mixins.media-down(mixins.$breakpoint--sm) {
            right: 24px;
            bottom: -54px;
        }
        @include mixins.media-between(mixins.$breakpoint--sm, mixins.$breakpoint--md) {
            right: 84px;
            bottom: -54px;
        }
        @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--xl) {
            top: 50%;
            right: -70px;

            transform: translateY(-50%);
        }
        @include mixins.media-between(mixins.$breakpoint--xl, mixins.$breakpoint--xxl) {
            top: 50%;
            right: -192px;

            transform: translateY(-50%);
        }
        @include mixins.media-up(mixins.$breakpoint--xxl) {
            top: 50%;
            right: -132px;

            transform: translateY(-50%);
        }
    }
}

.platforms__content {
    @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--xl) {
        max-width: 360px;
    }
    @include mixins.media-up(mixins.$breakpoint--xl) {
        max-width: 513px;
    }
}

.platforms__title {
    margin: 0;
    // font-weight: 550;

    font-weight: 700;
    color: var(--color-text--primary);

    @include mixins.media-down(mixins.$breakpoint--md) {
        margin-bottom: 16px;
    }
    @include mixins.media-up(mixins.$breakpoint--md) {
        margin-bottom: 20px;
    }
    @include mixins.media-down(mixins.$breakpoint--md) {
        font-size: 24px;
        line-height: 1.25;
    }
    @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--xl) {
        font-size: 28px;
        line-height: 30px;
    }
    @include mixins.media-up(mixins.$breakpoint--xl) {
        font-size: 40px;
        line-height: 1.25;
    }

    em {
        font-style: normal;
    }
}

.platforms__description {
    margin: 0;

    @include mixins.media-down(mixins.$breakpoint--md) {
        font-size: 14px;
    }
}

.platforms__image {
    position: absolute;

    transform: rotate(7.09deg);

    @include mixins.media-down(mixins.$breakpoint--xl) {
        height: auto;
    }
    @include mixins.media-down(mixins.$breakpoint--sm) {
        right: -90px;
        bottom: -45px;

        width: 449px;
    }
    @include mixins.media-between(mixins.$breakpoint--sm, mixins.$breakpoint--md) {
        right: -30px;
        bottom: -45px;

        width: 480px;
    }
    @include mixins.media-between(mixins.$breakpoint--md, mixins.$breakpoint--lg) {
        right: -88px;
        bottom: -5px;

        width: 449px;
    }
    @include mixins.media-between(mixins.$breakpoint--lg, mixins.$breakpoint--xl) {
        right: -35px;
        bottom: -5px;

        width: 480px;
    }
    @include mixins.media-between(mixins.$breakpoint--xl, mixins.$breakpoint--xxl) {
        right: -166px;
        bottom: -69px;
    }
    @include mixins.media-up(mixins.$breakpoint--xxl) {
        right: -66px;
        bottom: -69px;
    }
}
