@import "@/styles/mixins";

.about {
    @include media-down($tablet-breakpoint) {
        overflow: hidden;
    }
}

.about__container {
    position: relative;

    padding-bottom: var(--section-spacing);

    &::before {
        content: "";
        position: absolute;
        z-index: -1;

        background-image: url("/img/about/bg.svg");
        background-repeat: no-repeat;
        background-size: contain;

        @include media-down($mobile-breakpoint) {
            bottom: 42px;
            left: calc(50% - 98px);

            width: 333px;
            height: 499px;
        }
        @include media-between($mobile-breakpoint, $tablet-breakpoint) {
            bottom: 89px;
            left: calc(50% - 133px);

            width: 522px;
            height: 780px;
        }
        @include media-up($tablet-breakpoint) {
            right: 0;
            bottom: 204px;

            width: 522px;
            height: 780px;
        }
    }

    &::after {
        content: "";
        position: absolute;

        background-image: url("/img/about/rocket.svg");
        background-repeat: no-repeat;
        background-size: contain;

        @include media-down($mobile-breakpoint) {
            bottom: 24px;
            left: calc(50% - 132px);
            z-index: -1;

            width: 213px;
            height: 76px;
        }
        @include media-between($mobile-breakpoint, $tablet-breakpoint) {
            bottom: 49px;
            left: calc(50% - 231px);
            z-index: -1;

            width: 331px;
            height: 117px;
        }
        @include media-up($tablet-breakpoint) {
            right: 243px;
            bottom: 175px;

            width: 331px;
            height: 117px;
        }
    }
}

.about__title {
    @include media-down($tablet-breakpoint) {
        margin-bottom: 30px;
    }
    @include media-up($tablet-breakpoint) {
        margin-bottom: 36px;
    }
}

.about__content {
    @include media-up($tablet-breakpoint) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.about__info {
    @include media-down($tablet-breakpoint) {
        margin-bottom: 30px;
    }
    @include media-up($tablet-breakpoint) {
        flex-basis: 555px;
        padding-top: 24px;
    }
}

.about__statistics {
    @include media-up($tablet-breakpoint) {
        padding-right: 75px;
    }
}
