@use "@/styles/mixins";

.headerNavigation__list {
    display: flex;

    @include mixins.media-down(mixins.$breakpoint--md) {
        flex-direction: column;
        row-gap: 20px;
    }
    @include mixins.media-up(mixins.$breakpoint--md) {
        align-items: center;
    }
}

.headerNavigation__link {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;

    color: var(--color-text--primary);
    text-decoration: none;

    &:hover {
        color: var(--color-brand);
    }

    @include mixins.transition("color");

    @include mixins.media-up(mixins.$breakpoint--md) {
        padding-right: 12px;
        padding-left: 12px;
    }
}
