.button {
    --border-radius: 200px;

    padding: 7px 31px;

    font-size: 14px;
    line-height: 1.5;
    color: var(--color-brand);

    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    cursor: pointer;

    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: color;

    &:focus-visible {
        border-radius: var(--border-radius);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }

    &:hover {
        color: var(--color-text--primary);
    }
}
