.container {
    @include media-down($breakpoint--xl) {
        padding-right: 20px;
        padding-left: 20px;
    }
    @include media-up($breakpoint--xl) {
        max-width: var(--container-max-width);
        margin-right: auto;
        margin-left: auto;
        padding-right: 40px;
        padding-left: 40px;
    }
}
