@use "@/styles/mixins";

.title {
    margin: 0;
    // font-weight: 550;

    font-weight: 700;
    line-height: 50px;
    color: var(--color-text--primary);

    @include mixins.media-down(mixins.$breakpoint--xl) {
        font-size: 32px;
    }
    @include mixins.media-up(mixins.$breakpoint--xl) {
        font-size: 40px;
    }
}
