@import "@/styles/mixins";

.home__hero {
    margin-bottom: 110px;
}

.home__advantages {
    @include media-down($breakpoint--xl) {
        margin-bottom: var(--section-spacing);
    }
    @include media-up($breakpoint--xl) {
        margin-bottom: 120px;
    }
}

.home__platforms {
    margin-bottom: var(--section-spacing);
}

.home__services {
    margin-bottom: var(--section-spacing);
}

.home__technologies {
    margin-bottom: var(--section-spacing);
}

.home__clients {
    margin-bottom: var(--section-spacing);
}

.home__reviews {
    margin-bottom: var(--section-spacing);
}

.home__slogan {
    margin-bottom: var(--section-spacing);
}
