.home__hero {
    margin-bottom: 110px;
}

.home__advantages {
    margin-bottom: 120px;
}

.home__platforms {
    margin-bottom: 160px;
}

.home__services {
    margin-bottom: 160px;
}

.home__technologies {
    margin-bottom: 160px;
}

.home__clients {
    margin-bottom: 160px;
}

.home__slogan {
    margin-bottom: 160px;
}
