@import "@/styles/mixins";

.technologiesCategory {
    --border-width: 2px;
    --border-color: var(--color-bg--tertiary);
    --background-color: #ec503b;

    position: relative;

    height: 0;
    padding-bottom: 170%;

    color: var(--color-text--primary);

    background-color: var(--background-color);
    border-top: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);

    &::before,
    &::after {
        content: "";
        position: absolute;
        z-index: -1;

        background-color: inherit;
        border: inherit;

        inset: calc(-1 * var(--border-width)) 0;
    }

    &::before {
        transform: rotate(-60deg);
    }

    &::after {
        transform: rotate(60deg);
    }
}

.technologiesCategory__title {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    // font-weight: 550;

    font-weight: 700;
    line-height: 40px;

    inset: 0;

    @include media-down($tablet-breakpoint) {
        font-size: 20px;
    }
    @include media-up($tablet-breakpoint) {
        font-size: 24px;
    }
}
