@use "@/styles/mixins";

.servicesCard {
    position: relative;

    padding-top: 16px;
    padding-bottom: 16px;
    overflow: hidden;

    background-color: var(--color-bg--secondary);
    border-radius: 5px;

    @include mixins.transition($property: "background-color", $duration: 0.2s);
    @include mixins.media-down(mixins.$breakpoint--sm) {
        height: 150px;
        padding-right: 10px;
        padding-left: 10px;
    }
    @include mixins.media-up(mixins.$breakpoint--sm) {
        height: 200px;
        padding-right: 16px;
        padding-left: 16px;
    }

    &:hover {
        background-color: var(--color-bg--tertiary);
    }
}

.servicesCard__title {
    position: relative;

    margin: 0;

    font-weight: 700;
    // font-weight: 550;
    font-size: inherit;
    color: var(--color-text--primary);

    @include mixins.media-down(mixins.$breakpoint--sm) {
        font-size: 14px;
    }
}

.servicesCard__pictures {
    position: absolute;
    inset: 0;

    @include mixins.media-down(mixins.$breakpoint--sm) {
        transform: scale(0.66);
        transform-origin: 0 40%;
    }
}

.servicesCard__image {
    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: center;

    will-change: transform, width, height;
}
