@import "@/styles/mixins";

.technologiesTabs {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;

    column-gap: 32px;

    border: none;
}

.technologiesTabs__item {
    margin: 0;

    &:first-of-type {
        .technologiesTabs__label {
            transform: scale(1) translateY(0);
            transform-origin: 0 25%;
        }
    }

    &:last-of-type {
        .technologiesTabs__label {
            transform: scale(1) translateY(6px);
            transform-origin: 50% 75%;
        }
    }
}

.technologiesTabs__input {
    &:checked + .technologiesTabs__label {
        color: var(--color-bg--tertiary);

        transform: scale(1.5) translateY(0);
    }

    &:focus-visible + .technologiesTabs__label {
        border-radius: 2px;
        outline: max(3px, 0.08em) solid var(--color-brand);
        outline-offset: 2px;
    }
}

.technologiesTabs__label {
    display: block;
    // font-weight: 550;

    font-weight: 700;
    color: var(--color-text--primary);

    cursor: pointer;

    @include transition("color, transform");
}
