@use "@/styles/mixins";

.technologiesCard {
    --border-width: 2px;
    --border-color: rgba(255, 82, 58, 0.4);
    --row-gap: 10px;

    position: relative;

    height: 0;
    padding-bottom: 170%;

    color: var(--color-text--primary);

    @include mixins.media-down(mixins.$breakpoint--lg) {
        --logo-size: 32px;
    }
    @include mixins.media-up(mixins.$breakpoint--lg) {
        --logo-size: 54px;
    }

    &,
    &::before,
    &::after {
        border-top: var(--border-width) solid var(--border-color);
        border-bottom: var(--border-width) solid var(--border-color);

        @include mixins.transition("border-color");
    }

    &::before,
    &::after {
        content: "";
        position: absolute;

        inset: calc(-1 * var(--border-width)) 0;
    }

    &::before {
        transform: rotate(-60deg);
    }

    &::after {
        transform: rotate(60deg);
    }

    &:hover {
        --border-color: var(--color-bg--tertiary);

        .technologiesCard__content {
            &::before {
                transform: scale(1);
                opacity: 1;
            }
        }

        .technologiesCard__logo {
            transform: translateY(0);
            opacity: 1;
        }

        .technologiesCard__title {
            transform: translateY(0);
        }
    }
}

.technologiesCard__content {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    row-gap: var(--row-gap);

    &::before {
        content: "";
        position: absolute;
        z-index: -1;

        background-color: var(--color-bg--tertiary);
        transform: scale(0.4);
        opacity: 0;

        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

        @include mixins.transition($property: "opacity, transform", $duration: 0.4s);

        inset: calc(-1 * var(--border-width)) -50%;
    }
}

.technologiesCard__logo {
    display: block;
    width: var(--logo-size);
    height: var(--logo-size);

    background-color: currentColor;
    background-color: #f9f9f9;
    background-image: var(--technology-logo);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 8px;
    transform: translateY(50%);
    opacity: 0;

    @include mixins.transition("opacity, transform");

    & + .technologiesCard__title {
        transform: translateY(calc(-1 * ((var(--logo-size) + var(--row-gap)) / 2)));

        @include mixins.transition("transform");
    }
}

.technologiesCard__title {
    margin: 0;
    margin-right: -10%;
    margin-left: -10%;
    // font-weight: 550;

    font-weight: 700;
    text-align: center;

    @include mixins.media-down(mixins.$breakpoint--xl) {
        font-size: 14px;
    }
    @include mixins.media-up(mixins.$breakpoint--xl) {
        font-size: 16px;
    }
}
