.technologiesCard {
    --border-width: 2px;
    --border-color: rgba(255, 82, 58, 0.4);
    --transition-timing-function: ease-in-out;
    --transition-duration: 0.5s;
    --logo-size: 48px;
    --row-gap: 10px;

    position: relative;

    height: 0;
    padding-bottom: 170%;

    color: var(--color-text--primary);

    &,
    &::before,
    &::after {
        border-top: var(--border-width) solid var(--border-color);
        border-bottom: var(--border-width) solid var(--border-color);

        transition-timing-function: var(--transition-timing-function);
        transition-duration: var(--transition-duration);
        transition-property: border-color;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;

        inset: calc(-1 * var(--border-width)) 0;
    }

    &::before {
        transform: rotate(-60deg);
    }

    &::after {
        transform: rotate(60deg);
    }

    &:hover {
        --border-color: var(--color-bg--tertiary);

        .technologiesCard__content {
            &::before {
                transform: scale(1);
                opacity: 1;
            }
        }

        .technologiesCard__logo {
            transform: translateY(0);
            opacity: 1;
        }

        .technologiesCard__title {
            transform: translateY(0);
        }
    }
}

.technologiesCard__content {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    row-gap: var(--row-gap);

    &::before {
        content: "";
        position: absolute;
        z-index: -1;

        background-color: var(--color-bg--tertiary);
        transform: scale(0.4);
        opacity: 0;

        transition-timing-function: var(--transition-timing-function);
        transition-duration: var(--transition-duration);
        transition-property: opacity, transform;

        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

        inset: calc(-1 * var(--border-width)) -50%;
    }
}

.technologiesCard__logo {
    display: block;
    width: var(--logo-size);
    height: var(--logo-size);

    background-color: currentColor;
    border-radius: 10px;
    transform: translateY(50%);
    opacity: 0;

    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration);
    transition-property: opacity, transform;
}

.technologiesCard__title {
    margin: 0;
    // font-weight: 550;

    font-weight: 700;
    font-size: 16px;
    text-align: center;

    transform: translateY(calc(-1 * ((var(--logo-size) + var(--row-gap)) / 2)));

    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration);
    transition-property: transform;
}
