@keyframes loading {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-50%, -45%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  75% {
    transform: translate(-50%, -55%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.screen {
  position: fixed;
  inset: 0;
  z-index: 20;
  height: 100vh;

  color: #ffffff;

  background-color: #0e0e0e;

  opacity: 1;
  transition: opacity 1s ease, height 0s ease 1s;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    animation: loading 3s cubic-bezier(0.25, 0.25, 1, 1) infinite;
  }
}

.screen.hidden {
  opacity: 0;
  height: 0;

  transition: opacity 1s ease, height 0s ease 1.2s;
}
