@import "@/styles/mixins";

.header {
    background-color: var(--color-bg--overlay-15);

    backdrop-filter: blur(2px);
}

.header__opened {
    @include media-down($breakpoint--xl) {
        .header__login {
            display: none;
        }
    }
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 60px;
}

.header__logo {
    display: block;

    @include media-down($breakpoint--xl) {
        margin-right: auto;
    }
    @include media-up($breakpoint--xl) {
        margin-right: 40px;
    }
}

.header__navigation {
    @include media-down($breakpoint--xl) {
        display: none;
    }
    @include media-up($breakpoint--xl) {
        margin-right: auto;
    }
}

.header__login {
    @include media-down($breakpoint--xl) {
        margin-right: 16px;
    }
}

.header__menu {
    @include media-down($breakpoint--xl) {
        margin-right: -4px;
    }
    @include media-up($breakpoint--xl) {
        display: none;
    }
}
